@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%; /* Light Gray */
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 160 60% 38%; /* A more subtle green */
    --primary-light: 160 60% 92%; /* A lighter, solid green */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 160 60% 92%;
    --accent-foreground: 160 70% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --offer: 35 92% 60%; /* Orange-amber color for offers */
    --offer-foreground: 240 6% 10%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 173 58% 39%;
    --chart-1: 173 58% 39%;
    --chart-2: 43 74% 66%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 12 76% 61%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 160 60% 48%;
    --primary-light: 160 50% 20%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;
    --accent: 160 50% 20%;
    --accent-foreground: 160 60% 85%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --offer: 35 92% 60%;
    --offer-foreground: 240 6% 10%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 173 50% 55%;
    --chart-1: 173 50% 55%;
    --chart-2: 43 74% 66%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 12 76% 61%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  }
  .text-shadow-lg {
    text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  }
}

@layer utilities {
  .animate-fill-progress {
    animation-name: fill-progress;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes fill-progress {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
